/*en  styles
   -------------- */
* {
    margin: 0;
    padding: 0;
    font-family: "宋体"
}

body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 150%;
    /*background: url(/cms/images/use/cn/bodyBg.jpg) #bbd6eb repeat-x; */
    color: #000;
}

#container {
    width: 1000px;
    margin: 0 auto;
    text-align: left
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5 {
}

img {
    border: none;
}

p {
    line-height: 150%;
}

.clear {
    clear: both;
}

.center {
    text-align: center;
    margin: 0 auto;
    width: 100%
}

.right {
    float: right;
    text-align: right;
}

.rightPic {
    float: right;
    text-align: right;
    padding: 6px;
}

.left {
    float: left;
    text-align: left;
}

.leftPic {
    float: left;
    text-align: left;
    padding: 6px;
}

.fBold {
    font-weight: bold;
}

.cYellowTitle {
    font-weight: bold;
    background: url(/cms/images/use/cn/arrow2.gif) left no-repeat;
    padding-left: 20px;
    color: #ff3d00
}

/* link */
a:link, a:visited {
    color: #000000;
    text-decoration: none
}

a:hover {
    color: #136192
}

.blueLinkT a:link, .blueLinkT a:visited {
    color: #408dbf
}

.blueLinkT a:hover {
    color: #136192
}

.blueLink a:link, .blueLink a:visited {
    color: #166282;
    text-decoration: none;
}

.blueLink a:hover {
    color: #000
}

.blueLink2 a:link, .blueLink2 a:visited {
    color: #41b1d9;
}

.blueLink2 a:hover {
    color: #000
}

.whiteLink a:link, .whiteLink a:visited {
    color: #fff;
}

.whiteLink a:hover {
    color: #000
}

.yellowLink a:link, .yellowLink a:visited {
    color: #fff;
}

.yellowLink a:hover {
    color: #ff3d00
}

.yellowLink2 a:link, .yellowLink2 a:visited {
    color: #256c8a;
}

.yellowLink2 a:hover {
    color: #65b000
}

.yellowLink3 a:link, .yellowLink3 a:visited {
    color: #ff3c02;
}

.yellowLink3 a:hover {
    color: #256c8a;
}

.greenLink a:link, .greenLink a:visited {
    color: #7fc030;
}

.greenLink a:hover {
    color: #ff3d00
}

.cGreenLink {
    color: #63b002
}

a.cGreenLink:link, a.cGreenLink:visited {
    color: #63b002
}

a.cGreenLink:hover {
    color: #000
}

.cYellow {
    color: #ff3b00;
}

a.cYellow:link, a.cYellow:visited {
    color: #ff3b00;
}

a.cYellow:hover {
    color: #000
}

hr.yellowLine {
    height: 1px;
    color: #ff3b00;
    overflow: hidden
}

.gray {
    color: #999
}

/*default*/
#header {
    height: 80px;
    background: url(/cms/images/use/cn/headbg.jpg) repeat-x;
    clear: both;
}

#logo {
    width: 251px;
    float: left;
}

#topmenu {
    width: 560px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding-top: 35px;
}

#topmenu a:link, #topmenu a:visited {
    color: #626262
}

#topmenu a:hover {
    color: #ff3d00
}

#topmenu li {
    float: left;
    padding-left: 35px;
}

#language {
    padding-right: 10px;
    float: right
}

#language li {
    float: left;
    padding-right: 10px;
    padding-top: 30px;
}

#content {
    clear: both;
}

.leftBox {
    width: 751px;
    float: left;
}

.leftCol {
    width: 230px;
    height: 180px;
    background: url(/cms/images/use/cn/leftColBg.jpg) no-repeat;
    float: left;
    padding-top: 15px;
    padding-left: 25px;
}

.leftCol h2, .midCol h2, .rightCol h2, .summary h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 8px;
}

.leftCol li, .midCol li, .rightCol li {
    margin-bottom: 2px;
    background: url(/cms/images/use/cn/icon2.gif) no-repeat left 5px;
    padding-left: 10px;
}

.midCol {
    width: 223px;
    height: 180px;
    background: url(/cms/images/use/cn/midColBg.jpg) no-repeat;
    float: left;
    padding-top: 15px;
    padding-left: 25px;
}

.rightCol {
    width: 223px;
    height: 180px;
    background: url(/cms/images/use/cn/rightColBg.jpg) no-repeat;
    float: left;
    padding-top: 15px;
    padding-left: 25px;
}

.summary {
    background: url(/cms/images/use/cn/summarybg.jpg) #FFFFFF left top no-repeat;
    padding: 20px 20px 20px 40px;
}

a.more:link, a.more:visited {
    color: #136192
}

.rightBox {
    width: 249px;
    float: left;
}

.homeNews {
    background: url(/cms/images/use/cn/newBg.jpg) left top no-repeat;
    height: 300px;
    width: 214px;
    padding: 83px 20px 0px 15px;
}

.homeNews h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #408dbf;
    margin-bottom: 10px;
}

.homeNews h2 a, .homeMedia h2 a {
    float: right;
}

.homeNews h2 a:link, .homeNews h2 a:visited {
    font-size: 0.7em;
    font-weight: 400;
    color: #408dbf
}

.homeNews li, .homeMedia li {
    line-height: 1.3em;
    background: url(/cms/images/use/cn/line.gif) left bottom no-repeat;
    padding: 6px 0;
}

.homeNews li a:link, .homeNews li a:visited, .homeMedia li a:link, .homeMedia li a:visited {
    color: #000;
}

.homeNews li a:hover, .homeMedia li a:hover {
    color: #136192
}

.homeMedia {
    background: url(/cms/images/use/cn/mediaBg.jpg) left top no-repeat;
    height: 190px;
    width: 214px;
    padding: 5px 20px 0px 15px;
}

.homeMedia h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #005389;
    margin-bottom: 5px;
}

.homeMedia h2 a, .homeMedia h2 a {
    float: right;
}

.homeMedia h2 a:link, .homeMedia h2 a:visited {
    font-size: 0.7em;
    font-weight: 400;
    color: #005389
}

.homeNews a.more2:link, .homeNews a.more2:visited {
    color: #FF3300;
}

.homeOther {
    padding: 15px;
    height: 156px;
    text-align: center;
    margin: 0 auto;
    background: url(/cms/images/use/cn/otherBg.jpg) #ffffff right top no-repeat;
}

#footer {
    height: 23px;
    background: #cbe1ee;
    width: 100%;
}

.footerRight {
    line-height: 23px;
    float: right;
    padding-right: 20px;
}

.footerLeft span, .footerRight span {
    margin: 0px 5px;
    font-size: 0.8em;
}

span.copyRight {
    margin-left: 20px;
    font-size: 1em;
}

.footerLeft {
    line-height: 23px;
    padding-left: 20px;
}

/*channel 1*/
#cContent {
    background: #b9d5eb url(/cms/images/use/cn/contentBg.jpg) repeat-x;
    padding: 0 6px;
}

.toparea {
    height: 161px;
}

.cBanner {
    width: 771px;
    float: left
}

.testimonials {
    width: 176px;
    height: 141px;
    background: url(/cms/images/use/cn/bannerRBg.jpg) repeat-x;
    float: left;
    padding: 20px 20px 0px 20px;
    color: #fff;
}

.testimonials a:link, .testimonials a:visited {
    color: #fff;
}

.testimonials a:hover {
    color: #fff
}

.title1 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.title1 span {
    background: url(/cms/images/use/cn/icon3.jpg) right no-repeat;
    padding-right: 24px;
}

.textTitle2, .textTitle3, .textTitle4, .textTitle5, .textTitle6, .textTitle7, .textTitle8, .textTitle9, .textTitle10, .textTitle11, .textTitle12, .textTitle13 {
    color: #ff3b00;
    margin: 12px 0;
    padding-bottom: 35px;
    font-size: 24px;
    line-height: 1em
}

.textTitle3 {
    background: url(/cms/images/use/cn/services_03.jpg) left bottom no-repeat;
}

.textTitle4 {
    background: url(/cms/images/use/cn/services_06.jpg) left bottom no-repeat;
}

.textTitle5 {
    background: url(/cms/images/use/cn/contact_1.jpg) left bottom no-repeat;
}

.textTitle6 {
    background: url(/cms/images/use/cn/ApproachT1.jpg) left bottom no-repeat;
}

.textTitle7 {
    background: url(/cms/images/use/cn/careersT1.jpg) left bottom no-repeat;
}

.textTitle8 {
    background: url(/cms/images/use/cn/freeT1.jpg) left bottom no-repeat;
}

.textTitle9 {
    background: url(/cms/images/use/cn/HighlightT1.jpg) left bottom no-repeat;
}

.textTitle10 {
    background: url(/cms/images/use/cn/linkT1.jpg) left bottom no-repeat;
}

.textTitle11 {
    background: url(/cms/images/use/cn/newsroomT1.jpg) left bottom no-repeat;
}

.textTitle12 {
    background: url(/cms/images/use/cn/ODCT1.jpg) left bottom no-repeat;
}

.textTitle13 {
    background: url(/cms/images/use/cn/faqT1.jpg) left bottom no-repeat;
}

.textTitle {
    color: #ff3b00;
    margin: 12px 0;
    padding-bottom: 12px;
    font-size: 24px;
    border-bottom: 1px solid #0b79aa;
    line-height: 1em
}

.textTitleB {
    color: #ff3b00;
    margin: 12px 0;
    padding-bottom: 12px;
    font-size: 24px;
}

.textTitle2 {
    background: url(/cms/images/use/cn/titlebg5.jpg) left bottom no-repeat;
}

.subBox {
    width: 48%;
    float: left;
    margin-right: 2%;
}

.subBox h3 {
    font-size: 12px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #fe3c00;
}

.subBox3 {
    margin-bottom: 20px;
}

.subBox3 h3 {
    font-size: 12px;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #fe3c00;
    background: url(/cms/images/use/cn/arrow2.gif) left top no-repeat;
}

.subBox4 {
    margin-bottom: 20px;
}

.subBox4 h3 {
    font-size: 12px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #fe3c00;
    color: #0173a5
}

.subBox5 {
    margin-bottom: 20px;
}

.subBox5 h3 {
    font-size: 12px;
    padding-bottom: 5px;
    color: #ff3c02
}

.subBox5 h3 a {
    margin-left: 6px;
}

.subBox6 {

}

.subBox6 h3 {
    font-size: 12px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #fe3c00;
    text-align: right
}

.subBox6 h3 a {
    margin: 0 10px;
    font-weight: 400;
}

.subBox7 p {
    margin-left: 10px;
}

.toPage {
    text-align: right;
}

.toPage a {
    margin: 0 6px;
    font-weight: 400;
}

.toPage .pageFirst {
    background: url(/cms/images/use/cn/first.jpg) left no-repeat;
    padding-left: 15px;
}

.toPage .pagePrev {
    background: url(/cms/images/use/cn/prev.jpg) left no-repeat;
    padding-left: 15px;
}

.toPage .pageNext {
    background: url(/cms/images/use/cn/next.jpg) left no-repeat;
    padding-left: 15px;
}

.toPage .pageLast {
    background: url(/cms/images/use/cn/last.jpg) left no-repeat;
    padding-left: 15px;
}

.download {
    background: url(/cms/images/use/cn/arrow5.jpg) left no-repeat;
    padding-left: 20px;
    padding-top: 3px
}

.full {
    width: 100%;
    margin: 0;
    padding: 0;
}

.p1 {
    line-height: 1.3em
}

.signature {
    font-weight: bold;
    text-align: right;
    margin-top: 5px;
}

.contentArea {
    background: #fff;
    color: #166181;
}

.leftArea {
    width: 216px;
    float: left;
    background: #fff;
}

.menuList {
    background: url(/cms/images/use/cn/blueBg1.jpg) #2b9fd2 repeat-x;
    color: #fff;
    padding: 20px;
}

.menuList3 {
    background: #2b9fd2;
    color: #fff;
    padding: 20px;
}

.menuTitle {
    font-size: 14px;
    font-weight: bold
}

.menuList li, .menuList3 li {
    font-size: 12px;
    margin-top: 7px;
    background: url(/cms/images/use/cn/icon1.jpg) left 3px no-repeat;
    padding-left: 20px;
}

.blueLine {
    background: url(/cms/images/use/cn/blueLine.jpg) repeat-x;
    width: 100%;
    height: 2px;
    overflow: hidden;
}

.yellowBgEnd {
    background: url(/cms/images/use/cn/blueBg3.jpg) repeat-x;
    height: 2px;
    font-size: 1px;
}

.cur {
    font-weight: bold;
}

.picGallery {
    background: url(/cms/images/use/cn/picBoxTitleBg.jpg) left top repeat-x;
}

.picGallery2 {
    padding-top: 10px;
}

.titie2 {
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    height: 44px;
    color: #427e98;
    line-height: 44px;
}

.titie2 span {
    background: url(/cms/images/use/cn/iconBig.gif) right no-repeat;
    padding-right: 24px;
}

.picBox {
    height: 137px;
    background: url(/cms/images/use/cn/picBorderB.jpg) left bottom repeat-x;
}

.contactBox {
    background: #edf1f4;
    color: #676765;
    padding-bottom: 15px;
}

.contactBox li {
    background: url(/cms/images/use/cn/arrow2.gif) left no-repeat;
    padding-left: 20px;
    margin-left: 24px;
}

.certificates {
    padding: 20px;
}

.midArea {
    width: 475px;
    float: left;
    padding: 20px 40px;
    overflow: hidden;
}

.navLink {
    border: 1px solid #fff
}

.navLink li {
    float: left;
    background: url(/cms/images/use/cn/arrow1.jpg) left no-repeat;
    padding-left: 10px;
    margin-left: 10px;
}

li.navLinkFir {
    background: none;
    padding: 0;
    margin: 0;
}

.textContent p {
    margin-bottom: 15px;
}

/* 回复文章内容里的li默认样式 */
.textContent ul li {
    list-style: disc;
}

.textContent ol li {
    list-style: decimal;
}

.subBox2 {
    float: left;
    width: 105px;
    margin-right: 76px;
    margin-bottom: 15px;
}

.clearMargin {
    margin: 0
}

.subBox2 h3 {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 6px;
}

.subBox2 h3 a {
    background: url(/cms/images/use/cn/arrow2.gif) left no-repeat;
    padding-left: 17px;
}

.linkDir li {
    width: 45%;
    float: left;
    background: url(/cms/images/use/cn/arrow2.gif) left no-repeat;
    padding-left: 20px;
    margin-bottom: 6px;
}

.Border2px {
    border: 2px solid #d3d3d3;
}

.Border2px img {
    border: 1px solid #fff;
}

ul.downFile {
}

ul.downFile li {
    float: left;
    width: 40%;
    margin-bottom: 10px;
}

li.pdfFile {
    background: url(/cms/images/use/cn/pdf.jpg) left 3px no-repeat;
    padding-left: 30px;
    padding-top: 5px;
    height: 25px;
}

.rightArea {
    float: left;
    width: 216px;
}

.greenBox {
    width: 176px;
    background: url(/cms/images/use/cn/greenBg1.jpg) #88b421 repeat-x;
    padding: 10px 20px 10px 20px;
    color: #fff;
}

.greenBox li {
    line-height: 1.3em;
    padding: 5px 0px;
    background: url(/cms/images/use/cn/lineGreen.jpg) left bottom no-repeat;
}

.readMore {
    margin-top: 6px;
    text-align: right;
    font-weight: bold;
}

.readMore a {
    background: url(/cms/images/use/cn/icon2.jpg) left no-repeat;
    padding-left: 18px;
}

.greenBgEnd {
    background: url(/cms/images/use/cn/greenBg2.jpg) repeat-x;
    height: 2px;
    overflow: hidden;
}

.newsEvents {
    background: #edf1f4;
    width: 176px;
    padding: 10px 20px 10px 20px;
}

.titie3 {
    font-size: 14px;
    font-weight: bold;
    color: #ff3b00;
    margin-bottom: 10px;
}

.titie3 span {
    background: url(/cms/images/use/cn/iconBig.gif) right center no-repeat;
    padding-right: 24px;
}

.rightNews li {
    line-height: 1.3em;
    margin-bottom: 10px;
}

.rightLi li {
    line-height: 1.3em;
    margin-bottom: 10px;
    background: url(/cms/images/use/cn/arrow1.gif) left 3px no-repeat;
    padding-left: 10px;
}

/*channel 2*/
#cContent2 {
    padding: 0 19px;
    background: url(/cms/images/use/cn/Channel2Bg.jpg) #FFFFFF left top repeat-x;
    height: 500px;
}

.cBanner2 {
    margin: 0 auto;
    width: 955px;
}

.contentArea2 {
    background: #fff;
    color: #166181;
}

.leftArea2 {
    width: 180px;
    float: left;
    background: url(/cms/images/use/cn/cAreaBg_1.jpg) right top no-repeat;
    padding-top: 20px;
    height: 516px;
}

.menuList2 {
    color: #256c8a;
    padding-bottom: 20px;

}

.menuList2 .p1 {
    margin-left: 15px;
}

.menuTitle2 {
    font-size: 16px;
    font-weight: bold;
    color: #7fc030;
    background: url(/cms/images/use/cn/iconBig.gif) left top no-repeat;
    padding-left: 30px;
    padding-bottom: 10px;
}

.menuList2 li {
    font-size: 12px;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 15px;
    background: url(/cms/images/use/cn/arrow3.jpg) left 3px no-repeat;
    padding-left: 20px;
}

.midArea2 {
    width: 482px;
    float: left;
    padding: 20px 14px;
}

.areaFull {
    width: 915px;
    padding: 20px 20px;
    margin: 0 auto;
}

.navLink2 {
    border: 1px solid #fff;
    margin-bottom: 15px;
}

.navLink2 li {
    float: left;
    background: url(/cms/images/use/cn/arrow4.jpg) left no-repeat;
    padding-left: 10px;
    margin-left: 10px;
}

li.navLinkFir2 {
    background: none;
    padding: 0;
    margin: 0;
}

.rightArea2 {
    width: 263px;
    float: left;
    background: url(/cms/images/use/cn/cAreaBg_2.jpg) left top no-repeat;
    padding-top: 20px;
}

.rightCBox {
    padding: 0px 5px 10px 10px;
}

.titie4 {
    background: url(/cms/images/use/cn/iconBig.gif) left no-repeat;
    padding-left: 30px;
    margin-bottom: 20px;
    color: #64ae00;
    font-size: 16px;
    font-weight: bold;
}

.rightNews2 li {
    line-height: 1.3em;
    margin-bottom: 10px;
    margin-left: 20px;
}

.readMore2 {
    float: right;
    font-size: 12px;
    font-weight: bold;
    background: url(/cms/images/use/cn/arrow3.jpg) left no-repeat;
    padding-left: 17px;
}

.picBox2 {
    padding-left: 20px;
    border-right: 20px solid #96da35;
}

.picBox2 img {
    border-right: 1px solid #fff;
}

.arrowLi li {
    background: url(/cms/images/use/cn/arrow2.gif) left 3px no-repeat;
    padding-left: 20px;
    color: #676767
}

.arrowY {
    background: url(/cms/images/use/cn/arrow1.gif) left 3px no-repeat;
    padding-left: 10px;
    color: #676767
}

#EffectCnt {
    width: 751px;
    height: 383px
}

#BigPicShowCnt .Buttons {
    display: none;
}

div.download_form {
    width: 100%
}

div.download_form table {
    margin-top: 15px;
    background: #e4e3e8;
    width: 480px
}

div.download_form table tr {
    height: 30px
}

div.download_form table tr th {
    padding-left: 10px;
    font-weight: normal;
    width: 80px;
    color: #3c4a64;
    text-align: right
}

div.download_form table tr th.short {
    padding-left: 0px;
    width: 72px
}

div.download_form table tr.button {
    height: 45px
}

div.download_form table tr.button td {
    text-align: center
}

div.download_form table tr.button td input {
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    width: auto;
    height: auto;
    border-right-width: 0px
}

div.download_form table tr.button td img {
    margin-left: 50px
}

div.download_form table tr td input {
    border-right: #b1b9c4 1px solid;
    border-top: #b1b9c4 1px solid;
    background: #fff;
    border-left: #b1b9c4 1px solid;
    width: 380px;
    border-bottom: #b1b9c4 1px solid;
    height: 14px
}

div.download_form table tr td input.short {
    width: 140px
}

div.download_form table tr td textarea {
    width: 380px;
    height: 150px
}

.sitemap ul.sub li {
    padding-left: 40px;
    background: url(/cms/images/use/cn/expand_sub.gif) no-repeat
}

.sitemap ul.sub li a {
    font-weight: normal
}

.sitemap ul.leaf li {
    padding-left: 60px;
    background: url(/cms/images/use/cn/expand_leaf.gif) no-repeat
}

.sitemap ul.leaf li a {
    font-weight: normal
}

