font,td{font-size:12px;}
body {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 12px;
	font-family: "Arial,宋体";
	overflow:auto;
}
/*.left_Background{
	background-image: url(../images/leftd1_2.gif);
	background-repeat: no-repeat;
	height: 59px;
	width: 199px;
}*/

.topfont {
	font-size: 12px;
	color: #000066;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.leftfont_Title {
	font-size: 13px;
	color: #000066;
	font-weight: bold;
	font-family: "宋体";
	vertical-align: bottom;
}
.leftfont_Content {
	font-size: 12px;
	color: #b93411;
	font-family: "Arial,宋体";
	line-height: 160%;
}
.aleftfont_Content {
	font-size: 12px;
	color: #0082C5;
	font-family: "宋体";
	line-height: 160%;
	text-decoration: none;
}
.font_Content {
	font-size: 12px;
	color: #ffffff;
	font-family: "宋体";
	line-height: 160%;
}

A.a_white:link{
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight:bold;
}
A.a_white:visited{
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight:bold;
}
A.a_white:hover{
	font-size: 14px;
	color: #003296;
	text-decoration: underline;
	font-weight:bold;
}

.main_shm {
	color:#234768;
}
.main_shm1 {
	color:#2b7fc1;
	line-height:25px;
}
.redtext {
	color:#ff0000;
}
.indextitlebg{
	background-image: url(../images/templatestyle/main0_03.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	height:45px;
}
.indextitlebg_right{
	background-image: url(../images/templatestyle/main0_05.jpg);
	background-repeat:no-repeat;
	background-position:right top;
}
.toptext{
	font-size:13px;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	letter-spacing:0.1em;
}
.tabs-container{
    position:relative;
    top:8px;
}
/* bodytop样式 */
.bodytop{
    background-color: #e9e9e8;
}