/*整体样式表*/
* {
	margin:0;
	padding:0;
}

#main {
	width:960px;
	height:300px;
	padding-bottom:30px;
}
#container {
	height:740px;
	width:960px;
	margin:0 auto;
}
/*头部样式表*/
#header {
	height:120px;
	background:#FFFFFF;
	position:relative;
	margin-bottom:50px;
}
#logo {
	height:57px;
	position:absolute;
	top:45px;
	width:213px;
}
#language {
	position:absolute;
	right:0px;
	top:20px;
	width:200px;
}
#language ul {
	list-style-type:none;
	line-height:20px;
}
#language ul li {
	float:left;
	font-size:13px;
	padding-left:10px;
	color:#003366;
}
#language ul li a {
	text-decoration:none;
	color:#003366;
}
#nav {
	position:relative;
	top:70px;
	left:270px;
}
#nav ul {
	list-style:none;
	margin:0;
	padding:0;
	position:absolute;
	width:600px;
}
#nav ul li {
	float:left;
	cursor:pointer;
}
#nav ul li a {
	display:block;
	text-decoration:none;
	color:#000000;
	font-size:12px;
	text-align:center;
	background:#FFFFFF;
	width:160px;
	line-height:30px;
	overflow:hidden
}
#nav ul li ul li a {
	background:#EFEFEF;
}
#nav ul li a:hover {
	background:#CCCCCC;
	width:160px;
}
#nav ul li ul {
	margin:0;
	display:none;
	width:160px;
}
#nav ul li li {
	float:none;
	position:relative;
	border-bottom:solid 1px #DFDFDF;
	margin-bottom:-1px
}
#nav ul li li a:hover, ul li li a.ad {
	background:#006699;
	color:#FFFFFF;
}
#nav ul li li ul {
	position:absolute;
	left:160px;
	top:0px;
}
/*关于我们成长*/

#about {
	width:960px;
	height:auto;
}
#nav_about {
	width:230px;
	height:800px;
	background:#F7F7F7;
	float:left;
}
#nav_about p {
	font-size:14px;
	padding-bottom:10px;
	padding-left:20px;
}
#nav_about h2 {
	color:#238EBC;
	height:25px;
	width:auto;
	background:url(images/li_i.png) no-repeat 0 0;
	font-size:18px;
	font-weight:none;
	margin:40px 0 10px 20px;
	padding-left:30px;
}
#nav_about h3 {
	height:25px;
	width:auto;
	background:url(images/li_i.png) no-repeat 0 0;
	font-size:18px;
	font-weight:none;
	margin:40px 0 10px 20px;
	padding-left:30px;
}
#menu {
	height:170px;
	border-bottom:1px dashed #999999;
}
#menu li {
	background:url(images/li_ci.png) no-repeat 0 4px;
	padding-left:33px;
	line-height:20px;
	margin-left:22px;
	list-style-type:none;
	padding-bottom:10px;
}
#menu li a {
	color:#238EBC;
	text-decoration:none;
	font-size:15px;
}
#menu li a:hover {
	color:#666666;
}
#menu_list {
	height:260px;
	border-bottom:1px dashed #999999;
}
#menu_list li {
	background:url(images/li_ci.png) no-repeat left center;
	padding-left:33px;
	line-height:35px;
	margin-left:22px;
	list-style-type:none;
}
#menu_list li a {
	color:#333333;
	text-decoration:none;
	font-size:13px;
}
#menu_list li a:hover {
	color:#666666;
}
#right_about {
	width:719px;
	height:800px;
	float:right;
	font-size:12px;
}
#right_about h4 {
	color:#D98C1A;
	font-family:"黑体";
	font-size:20px;
	font-weight:normal;
}
#right_about p {
	padding-bottom:20px;
	line-height:20px;
	padding-left:20px;
	color:#238EBC;
}
#right_about img {
	margin-bottom:10px;
}
#current {
	margin-bottom:15px;
}
#current a {
	text-decoration:none;
	font-size:13px;
	color:#333333;
}
#column {
	width:719px;
	float:right;
	font-size:12px;
}
#column h4 {
	color:#D98C1A;
	font-family:"黑体";
	font-size:20px;
	font-weight:normal;
}
#column h2 {
	color:#D98C1A;
	font-family:"黑体";
	font-size:20px;
	font-weight:normal;
}
#column dt {
	float:left
}
#column dd {
	line-height:20px;
	text-indent:35px;
	line-height:23px;
}
#column div p {
	background:url(images/dui.png) no-repeat 0 0;
	width:200px;
	height:20px;
	padding-left:20px;
	margin-bottom:10px;
}
#column img {
	margin-bottom:10px;
}
#column #navigator {
	margin-bottom:15px;
}
#column #navigator a {
	text-decoration:none;
	font-size:13px;
	color:#333333;
}
.num2 {
	width:345px;
	height:140px;
	float:left;
	margin-left:5px;
}
.num2 a {
	text-decoration:none;
	color:#333333;
}
.num2 dl a:hover {
	color:#228DBB;
}
.num2 p a {
	color:#228DBB;
	font-weight:bold;
}
/*我们的行业*/

#service h4 {
	margin-bottom:15px;
	color:#F9B00A;
}
#service dl {
	line-height:20px;
}
#service dl dt {
	font-size:15px;
	background:url(images/dui.png) no-repeat 0 2px;
	;
	padding-left:20px;
	margin-bottom:10px;
	color:#238EBC;
}
#service dl dd {
	font-size:12px;
	margin-bottom:30px;
	padding-left:20px;
}
#service dl dd a {
	text-decoration:none;
	font-size:13px;
	font-weight:bold;
	color:#666666;
}
#service h4 {
	color:#D98C1A;
	font-family:"黑体";
	font-size:20px;
	font-weight:normal;
}
#service h2 {
	color:#D98C1A;
	font-family:"黑体";
	font-size:20px;
	font-weight:normal;
}
#service {
	width:719px;
	float:right;
	font-size:12px;
}
#service img {
	margin-bottom:10px;
}

/*首页*/
#banner {
	float:left;
}
#hot {
	float:left;
	height:283px;
	color:#FFFFFF;
	width:200px;
	padding:10px;
	margin-left:10px;
	background-color:#7A7471;
	border-radius:10px 0;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-top-left-radius: 20px;
	-moz-border-radius: 20px 0;
}
#hot h1 {
	font-size:14px;
	line-height:30px;
}
#hot p {
	font-size:13px;
	margin-bottom:30px;
}
#hot ul {
	border-top:1px #999999 dashed;
	padding:10px;
	line-height:30px;
}
#hot ul li {
}
#content {
	width:960px;
	height:300px;
	font-size:12px;
}
.introduction1 h1 {
	padding-top:150px;
	color:#257FA7;
	font-size:12px;
}
.introduction2 h1 {
	font-size:12px;
	color:#73569B;
	padding-top:150px;
}
.introduction3 h1 {
	font-size:12px;
	padding-top:150px;
	color:#39831B;
}
.introduction4 h1 {
	font-size:12px;
	padding-top:150px;
	color:#E05231;
}
#content a {
	display:block;
	width:200px;
	line-height:20px;
}
.introduction1 {
	float:left;
	height:300px;
	width:235px;
	background:url(images/tu5.png) no-repeat;
}
.introduction2 {
	float:left;
	height:300px;
	width:212px;
	margin-left:27px;
	background:url(images/tu6.png) no-repeat;
}
.introduction3 {
	float:left;
	width:231px;
	height:300px;
	margin-left:40px;
	background:url(images/tu7.png) no-repeat;
}
.introduction4 {
	float:left;
	height:300px;
	width:203px;
	background:url(images/tu8.png) no-repeat;
}
#content a {
	color:#333333;
	text-decoration:none;
}
#content a:hover {
	text-decoration:underline;
}
#footer {
	height:90px;
	background:#F5F5F5;
	width:960px;
	margin-right: auto;
    margin-left: auto; 
	clear:both;
}
#footer ul {
	list-style-type:none;
	width:800px;
	margin:0 auto;
}
#footer ul li {
	float:left;
	padding-left:30px;
	line-height:70px;
	font-size:12px;
	background:url(images/biao.png) no-repeat 15px 30px;
}
#footer li a {
	text-decoration:none;
	color:#000000;
}
#footer li a:hover {
	text-decoration:underline;
}
#navLevel li ul a:link {
	color:#666;
	text-decoration:none;
}
#navLevel li ul a:visited {
	color:#666;
	text-decoration:none;
}
#navLevel li ul a:hover {
	color:#F3F3F3;
	text-decoration:none;
	font-weight:normal;
	background:#C00;
}
img{
   border:none;
}
