td,p {font-size:9px; text-decoration: none;COLOR: #555555; FONT-FAMILY:  Arial, Geneva,Helvetica, sans-serif, Times, serif}

.calendarDiv{
    width : 33%;
}

.enter{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    vertical-align: middle;
    font-family: "Arial";
    color: #082a45;
    font-size: 9pt;
    text-decoration: none;
    border           : 1px solid #4999d8  ;
    cursor           : default          ;
    width            : 50px             ;
    height           : 22px      ;       
}

.WholeCalendar_{
    background-color : #e1e4e1        ;
    border           : 1px solid black  ;
    cursor           : default          ;
    width            : 100%             ;
    height           : 100%             ;
}
.Title_{
    color            : #000000  ; 
    font-family      : Arial    ;  
    font-size        : 9pt     ;   
    font-weight      : bold     ;  
    text-align       : center   ; 
    text-decoration  : none;
}

.DateControls_{
      text-align : right ;
}

.CalTable_{
      border : 0 solid black ;
      width  : 100%          ;
      height : 100%          ;
}

.DayTitle_{
      background-color    : #72b9f1 ; 
      color               : #FFFFFF;      
      font-family         : Arial     ; 
      font-size           : 10pt       ;
      font-weight         : bold      ;  
      text-align          : center    ;
      vertical-align: middle;
      border-top-width: 0px      ;
      border-right-width: 0px     ;
      border-bottom-width: 1px      ;
      border-left-width: 0px     ;     
      border-top-style: none;
      border-right-style: none;
      border-bottom-style: solid;
      border-left-style: none;
      border-bottom-color: #FFFFFF;
      height:25px;
}
.OffDay_{
    font-family: "Arial";  
      font-size: 10px;  
      color: #8eacbf;    
      text-decoration: none; 
      background-color: #EDF8FF;
      border-top-width: 0px; 
      border-right-width: 0px;   
      border-bottom-width: 1px;
      border-left-width: 0px;
      border-top-style: none;
      border-right-style: none;
      border-bottom-style: solid;
      border-left-style: none;
      border-bottom-color: #FFFFFF;
      text-align: center;
      vertical-align: middle;
      padding-bottom: -1px;
}
.Day_{
    font-family: "Arial";  
      font-size: 10px;   
      color: #002B5F;   
      text-decoration: none; 
      background-color: #D9E9FA; 
      border-top-width: 0px; 
      border-right-width: 0px;   
      border-bottom-width: 1px;
      border-left-width: 0px;
      border-top-style: none;
      border-right-style: none;
      border-bottom-style: solid;
      border-left-style: none;
      border-bottom-color: #FFFFFF;
      text-align: center;
      vertical-align: middle;
}

.DaySelected_{
     font-family: "Arial";  /* cal--offMonth-background-color */
      font-size: 10pt;   /* cal--offMonth-color */
      color: #ffffff;    /* cal--offMonth-font-family*/
      text-decoration: none; /* cal--offMonth-font-size */
      background-color: #2b7fc1; /* cal--offMonth-font-weight */
      border-top-width: 0px; /* cal--offMonth-text-align */
      border-right-width: 0px;   /* cal--offMonth-vertical-align */
      border-bottom-width: 1px;
      border-left-width: 0px;
      border-top-style: 1px;
      border-right-style: none;
      border-bottom-style: solid;
      border-left-style: none;
      border-bottom-color: #FFFFFF;
      text-align: center;
      vertical-align: middle;
}