body,html {
    background-color:#26546f;
    margin-left: auto;
    margin-right: auto;
}
.container {
    width:647px;
    color:#000000;
    font-size:14px;
    margin:80px auto;
}
.content {
    background-image:url("../../images/login/login-bg.png");
    background-repeat:no-repeat;
    width:647px;
    height:360px;

    margin:0 auto;
    padding-left:0px;


}
.foot {
    width:647px;
    height:120px;
    margin:0px auto;
}
.name {
    width:647px;
    height:40px;
    padding-left:75px;
}
span {
    color:#004e7c;
    font-size:14px;
    font-family:"宋体", "黑体", "新宋体", Arial;
    line-height:30px;
}
INPUT{
    height:24px;
    border:1px solid #bfbfbf;
}