/* CSS Document */

.mybody{
    background-color: #ffffff;
}


table,td{
    background-color:/*#efeeed*/#e0e0e0;
    font-size:12px;
}

.tree_table
{ 
    position:relative;
    background-color:#edf3f5;
    font-size:12px;
    color:#000000;
    width:100%;
}

.tree_Navigation
{
    display:block;
    cursor:hand;
    cursor:pointer;
    font-weight:bold;   
    border-top:0px solid #afcce2;
    border-bottom:1px solid #afcce2;
    border-left:0px solid #afcce2;
    border-right:0px solid #afcce2;
    padding:4px  4px  4px  4px;
    background-color:#589aa9;
    color:#ffffff;
    height:22px;
    line-height:22px;
}
  
.tree_Menu
{
    display:none;
    font-weight:bold;
    border-left:0px solid #afcce2;
    border-right:0px solid #afcce2;
    border-bottom:1px solid #cdcdcd;
    border-top:0px solid #afcce2;
    background-color:#ffffff;
}

.xmenu td
{
    font-size:12px;        
    color:#457e87;
    height:25px;
    cursor:hand;
    cursor:pointer;
} 

a.leftmenu {
    text-decoration: none;
    color: #457e87;
}
a.leftmenu:link {
    text-decoration:none;
    color:#000000;
}
a.leftmenu:visited {
    text-decoration: none;
    color: #457e87;
}
a.leftmenu:hover {
    text-decoration: none;
    color:#089ec4;
}
