<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

    <listener>
        <listener-class>venus.web.listener.VenusListener</listener-class>
    </listener>
    
    <filter>
        <filter-name>Set Character Encoding</filter-name>
        <filter-class>venus.frames.web.filter.SetEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>NoCache</filter-name>
        <filter-class>venus.frames.web.filter.ResponseHeaderFilter</filter-class>
        <init-param>
            <param-name>Cache-Control</param-name>
            <param-value>no-cache, must-revalidate</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>CacheForWeek</filter-name>
        <filter-class>venus.frames.web.filter.ResponseHeaderFilter</filter-class>
        <init-param>
            <param-name>Cache-Control</param-name>
            <param-value>max-age=604800, public</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>Locale Filter</filter-name>
        <filter-class>venus.frames.i18n.filter.LocalFilter</filter-class>
    </filter>

    <filter>
        <filter-name>Au Filter</filter-name>
        <filter-class>venus.oa.filter.AuthorityFilter</filter-class>
    </filter>
    <filter>
        <filter-name>FunOrgAu Filter</filter-name>
        <filter-class>venus.oa.filter.FunOrgAuFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SQLInjection Filter</filter-name>
        <filter-class>venus.oa.filter.SQLInjectionFilter</filter-class>
        <init-param>
            <param-name>regularExpression</param-name>
            <param-value>.*([;]+|(--)+).*</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>Set Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>Locale Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>NoCache</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NoCache</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>CacheForWeek</filter-name>
        <url-pattern>*.gif</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CacheForWeek</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CacheForWeek</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CacheForWeek</filter-name>
        <url-pattern>*.gif</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CacheForWeek</filter-name>
        <url-pattern>*.jpg</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CacheForWeek</filter-name>
        <url-pattern>*.png</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CacheForWeek</filter-name>
        <url-pattern>*.bmp</url-pattern>
    </filter-mapping>

    <!-- global authority filter -->
    <filter-mapping>
        <filter-name>Au Filter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Au Filter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>FunOrgAu Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--<filter-mapping>-->
    <!--<filter-name>FunOrgAu Filter</filter-name>-->
    <!--<url-pattern>*.jsp</url-pattern>-->
    <!--</filter-mapping>-->

    <filter-mapping>
        <filter-name>SQLInjection Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- venus-web-oa project core servlet -->
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>venus.frames.base.action.DefaultServlet</servlet-class>

        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>

        <init-param>
            <param-name>CLASS_CAN_NO_FOUND</param-name>
            <param-value>true</param-value>
        </init-param>

        <init-param>
            <param-name>init-classes</param-name>
            <param-value>
                venus.frames.mainframe.util.InitPathPlugIn;
                venus.frames.mainframe.util.InitEnumLoaderPlugin
            </param-value>
        </init-param>

        
        <load-on-startup>0</load-on-startup>
    </servlet>

    <!--这个启动顺序必须在action servlet后面，否则spring和springmvc之间的bean无法共享-->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/conf/applicationContextSpringMVC/applicationContext*.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

<!-- no servlet Mapping -->
<!--<servlet>-->
    <!--<servlet-name>OutPutImageServlet</servlet-name>-->
    <!--<servlet-class>udp.ewp.servlet.OutPutImageServlet</servlet-class>-->
<!--</servlet>-->

    <!--<servlet-mapping>-->
    <!--<servlet-name>OutPutImageServlet</servlet-name>-->
    <!--<url-pattern>/servlet/OutPutImageServlet</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>480</session-timeout>
    </session-config>

<!--mime type for htc,rar,css,wsdl,xsd-->
    <mime-mapping>
        <extension>htc</extension>
        <mime-type>text/x-component</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>rar</extension>
        <mime-type>application/octet-stream</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>wsdl</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xsd</extension>
        <mime-type>text/xml</mime-type>
    </mime-mapping>

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <taglib>
            <taglib-uri>/WEB-INF/gap-html.tld</taglib-uri>
            <taglib-location>/WEB-INF/tld/gap-html.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/gap-i18n.tld</taglib-uri>
            <taglib-location>/WEB-INF/tld/gap-i18n.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/gap-authority.tld</taglib-uri>
            <taglib-location>/WEB-INF/tld/gap-authority.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/sslext.tld</taglib-uri>
            <taglib-location>/WEB-INF/tld/sslext.tld</taglib-location>
        </taglib>
    </jsp-config>

    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>

</web-app>


