.ewp_paging_content hr {
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
}

.ewp_paging_hr_top {
    margin-bottom: 18px;
}

.ewp_paging_hr_bottom {
    margin-top: 0px;
    margin-bottom: 10px;
}

.ewp_paging_row {
    margin-left: 20px;
}

.ewp_paging_row:before,
.ewp_paging_row:after {
    display: table;
    content: "";
}

.ewp_paging_row:after {
    clear: both;
}

.ewp_paging_row .left_div {
    float: left;
}

.ewp_paging_row .right_div {
    float: right;
}