body{
    font-family: arial;
    margin: 0px; /* for IE6 / IE7 */
}

#tables{
    border: 2px dashed LightBlue;
    display: table;
}

/* table */
div#tables table {
    background-color: #eee;
    border-collapse: collapse;
    margin: 7px;    
}

/* table cells */
div#tables td{
    border: 1px solid navy;
    height: 100%;
    text-align: center;
    font-size: 10pt;
    padding: 2px;
}

.modifytext, .modifytextarea, .modifyselect, .modifyboolean{
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    min-width:100px;
    min-height:35px;
    line-height: 35px;
    border: 2px solid SteelBlue;
    background-color: white;
}