/*!
 * Custom CSS for www.itari.com.cn
 */
hr {
    margin: 18px 0;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ffffff;
}

section.features .span6 p {
    padding-right: 0px;
}

p.small {
    line-height: 180%;
    font-size: 14px;
    min-width: 500px;
}

body {
    background-color: #f0f0f0;
    font-family: "Helvetica Neue","微软雅黑","华文细黑","黑体", "Arial","Lucida Grande", Verdana, sans-serif;
    line-height: 34px;
    font-size: 14px;
}

.navbar .navbar-inner {
    background: none repeat scroll 0 0 #f0f0f0;
}

.pull-right {
    font-size: 12px;
    padding: 0px 0 0;
    color: #858585;
}

.home .hero-unit {
    height: 180px;
}

.home .hero-unit {
    padding: 0;
}

section {
    padding-top: 0px;
}

section.features .col-md-6 i {
    height: 100px;
    width: 170px;
}

section.features .col-md-6 i.bookmarking {
    background-position: 0px 6px;
}

section.features .col-md-6 i.search {
    background-position: 0px -97px;
}

section.features .col-md-6 i.collaborate {
    background-position: 0 -200px;
}

section.features .col-md-6 i {
    background: url("img/home-features.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 100px;
    margin: 0;
    width: 170px;
}

a {
    color: #000000;
}

a:hover {
    color: #018ac3;
}

.unstyled span-3 li a {
    color: #ff0000;
}

h5 {
    font-family: "Helvetica Neue","微软雅黑","华文细黑","黑体", "Arial","Lucida Grande", Verdana, sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.home .hero-unit {
    margin-right: 0px;
    padding: 67px 0px 100px 0px;
}

.hero-unit {
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 30px;
    padding: 60px;
}

.navbar .navbar-inner .nav > li > a:hover {
    background-color: #e8e7e7;
}

article.container {
    margin-top: 0px;
    margin-bottom: 20px;
}

.well {
    background-image: none;
    background-repeat: no-repeat;
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 1) inset;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 1px 1px #cecdcd inset;
    overflow: hidden;
}

span {
    color: #000;
    font-family: "Helvetica Neue","微软雅黑","华文细黑","黑体", "Arial","Lucida Grande", Verdana, sans-serif;
    font-size: 12px;
}

dt {
    float: right;
    color: #2382ee;
    padding-right: 5px;
    font-size: 12px;
}

dt a {
    color: #2382ee;
}

dt a:hover {
    color: #2382ee;
    text-decoration: underline;
}

section.features .col-md-6 {
    margin-bottom: 20px;
}

.page {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: none;
    margin: 10px 0 0;
    padding: 30px 30px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #DBDBDB;
}

.page2 {
    background: none repeat scroll 0 0;
    box-shadow: none;
    margin: 10px 0 0;
    padding: 0px 0px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #DBDBDB;
}

p {
    font-size: 14px;
    color: #000;
    font-family: "Helvetica Neue","微软雅黑","华文细黑","黑体", "Arial","Lucida Grande", Verdana, sans-serif;
    margin: 5px 0px;

}

hr {
    margin: 8px 0;
}

.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
    background-color: #ffffff;
}

.table th, .table td {
    border-top: 0px;
    border-bottom: 1px dotted #DDDDDD

}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #f0f0f0;
}

h6 {
    text-align: center;
    font-family: "Helvetica Neue","微软雅黑","华文细黑","黑体", "Arial","Lucida Grande", Verdana, sans-serif;
    text-transform: none;
    color: #a8a8a8;
}
h6 a{
    color:#428bca;
}

footer {
    padding: 0px 0;
    border-top: 1px solid #DDDDDD;
    margin-top: 15px;
}

footer p {
    color: #777777;
    font-size: 12px;
    padding-left: 35px;
    padding-right: 35px;
}

.navbar .nav > li > a {
    color: #626262;
    font-size: 16px;
}

.navbar .nav li {
    float: left;

}

.navbar .nav > li > a:hover {
    color: #626262;
    font-size: 16px;
    background-color: #e8e7e7;
}

.hero-unit {
    background-color: none;
}

.home .hero-unit {
    background: none;
}

.carousel-inner {
    margin-top: 5px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel-control {
    background: none;
    border: 0px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    color: #999;
    font-size: 60px;
    font-weight: 100;
    height: 40px;
    left: 15px;
    line-height: 30px;
    margin-top: -20px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40px;
}

.item active carousel-caption {
    height: 60px;
}

.home {
    padding-top: 0px;
    /*background: url("img/bg-home.jpg") no-repeat scroll center 40px #FFFFFF;*/
}

.page-content .respage-gap {
    margin: 0 15px;
    height: 163px;
    background: url("img/program.png") right bottom no-repeat;
}

.page-content .respage-detail {
    margin: 0 15px;
    height: 163px;
    background: url("img/home-hero3.png") right bottom no-repeat;
}

.page-content .respage-Program {
    margin: 0 15px;
    height: 163px;
    background: url("img/Platform.png") right bottom no-repeat;
}

.page-content .gap {
    border-radius: 10px;
    height: 163px;
    background: url("img/gap.png") right bottom no-repeat;
}

.page-content .news {
    margin: 0 15px;
    height: 163px;
    background: url("img/news.png") right bottom no-repeat;
}

.page-content .about {
    margin: 0 15px;
    height: 163px;
    background: url("img/about.png") right bottom no-repeat;
}

hr {
    border-bottom: 1px dotted #DDDDDD;
}

@media (max-width: 480px) {
    .page-content .respage-detail {
        display: none;
    }

    .page-content .respage-gap {
        display: none;
    }

    .carousel {
        display: none;
    }

    .home .hero-unit {
        height: 0px;
    }
}

@media (max-width: 768px) {
    .carousel {
        display: none;
    }

    .home .hero-unit {
        height: 90px;
    }
}

@media (min-width: 768px) and (max-width: 980px) {
}

.navbar-inner {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#f0f0f0', GradientType=0);
}

li {

    line-height: 30px;
    list-style-type: none;

}

ul, ol {
    margin: 0 0 9px 0px;
    padding: 0 0 0 15px;
}

h4 {
    font-size: 18px;
    color: #000;
    font-family: "Helvetica Neue","微软雅黑","华文细黑","黑体", "Arial","Lucida Grande", Verdana, sans-serif;
    line-height: 50px;
}

h2 {
    font-size: 24px;
    font-family: "Helvetica Neue","微软雅黑","华文细黑","黑体", "Arial","Lucida Grande", Verdana, sans-serif;
    text-align: center;
}

.row-fluid {
    display: inline-block;
}

footer p a {
    color: #777777;
    margin: 0 0em;
}

footer a {
    color: #000000;
    margin: 0 0em;
}

footer h5 {
    font-size: 15px;
    color: #000000;
    padding-left: 15px;
}

footer span3 {
    padding-left: 0px;
    margin-left: 0px;
}

.hot-link {
    color: #4183C4;
}

.container .jumbotron {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px 15px 30px 15px;
}

.navbar-header {
    padding-left: 15px;
}

.jumbotron {
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar {
    border: 0px;
    margin-bottom: 0px;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;

}

.img-rounded {
    width: 170px;
    height: 100px;
}

.more {
    text-align: right;
    line-height: 23px;
    color: #858585;
}

.more a {
    color: #858585;
}

.more a:hover {
    color: #018ac3;
}

.navbar-collapse {
    margin-top: 9px;
    padding-right: 15px;
}

.page-content {
    /*background: url("img/bg-page.jpg") no-repeat scroll center 40px #FFFFFF;*/
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px;
    padding: 10px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.pull-left {
    text-align: left;
}

.navbar {
    border-radius: 0px;
}

.list-unstyled {
    margin-bottom: 4px;
    display: inline-block;
}

.navbar-toggle {

    margin-right: 35px;

}
.row .navbar-collapse {
    margin-top: 0px;
}
.form-control {
    /*height: 25px;*/
    font-size: 12px;
}
.row .btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 2px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.row .navbar-nav > li > a {
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 5px;
}
.headtop{
    height: 30px;
    background-color:#cccccc;
    color: #000000;
}
.headtop .container,.headtop ul,.headtop ul li,.headtop .form-group{
    height: 30px;
}
.headtop .nav > li > a{
    padding: 3px 10px;
    margin:2px 0 0 0  ;
    font-size: 10px;
    color: #4f4f4f;
}
.headtop .nav > li > a:hover,.headtop .nav > li > a:focus{
    padding: 3px 10px;
    margin:2px 0 0 0  ;
    font-size: 10px;
    background-color:transparent;
}
.headtop .navbar-collapse {
    margin-top: 0px;
    padding-right: 0px;
}
.headtop .form-control {
    font-size: 10px;
    height: 25px;
    margin-top: -5px;
    padding: 6px 15px;
    border-radius: 0px;
}
.headtop .navbar-form {
    height: 30px;
    margin: 0px 30px 0 0 ;
    padding: 0;

}
.headtop .btn {

    background-color:#4e8dc1;
    border:1px solid #3e7eb3;
    font-size: 11px;
    margin-top: -3px;
    line-height: 1em;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color:#ffffff;
}
.headtop .btn-default:hover{
    background-color:#518ebe;
}
.headtop .label {
    border-radius: 0.25em;
    color: #4f4f4f;
    display: inline;
    font-size: 11px;
    font-weight: normal;
    line-height: 0.5em;
    padding: 0.1em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
.navbar-default {
    background-color: #FFFFFF;
    border-color: #E7E7E7;
}
.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
     padding-top: 0px;
}
.carousel-indicators {
    bottom: -5px;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #ccc;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    background-color: #fff;
}
.unstyled{
    margin-bottom: 4px;
}
.list-small{
    color: #aaa;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
}
