<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="venus.oa">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <bean id="dataSource" class="venus.frames.jdbc.datasource.ConfDataSource">
        <property name="dbUsr">
            <value>MAIN_SRC</value>
        </property>
        <!-- 如使用非Oracle数据库，请把下面一行注释掉 -->
        <!--<property name="pageSqlProvider"><ref local="pageSqlProvider"/></property>-->
    </bean>

    <!-- 数据库分页 -->
    <bean id="pageSqlProvider" class="venus.frames.jdbc.core.support.MySQLPageSqlProvider"/>
    <!-- 
    <bean id="pageSqlProvider" class="venus.frames.jdbc.core.support.OraclePageSqlProvider"/>
     -->

    <!-- Transaction manager for a simple table -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource">
            <ref local="dataSource"/>
        </property>
    </bean>

    <alias name="otherDbLobHandler" alias="defaultLobHandler"/>

    <!-- oracle数据库Lob处理 -->
    <bean id="oracleLobHandler" class="org.springframework.jdbc.support.lob.OracleLobHandler" lazy-init="true">
        <property name="nativeJdbcExtractor">
            <ref local="nativeJdbcExtractor"/>
        </property>
    </bean>

    <!-- 非oracle数据库Lob处理 -->
    <bean id="otherDbLobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler" lazy-init="true"/>

    <!-- 对应的JDBC抽取器 -->
    <bean id="nativeJdbcExtractor" class="org.springframework.jdbc.support.nativejdbc.SimpleNativeJdbcExtractor" lazy-init="true"/>
    <!--
    <bean id="nativeJdbcExtractor" class="org.springframework.jdbc.support.nativejdbc.CommonsDbcpNativeJdbcExtractor" lazy-init="true" />
    <bean id="nativeJdbcExtractor" class="org.springframework.jdbc.support.nativejdbc.WebSphereNativeJdbcExtractor" lazy-init="true" />
    <bean id="nativeJdbcExtractor" class="org.springframework.jdbc.support.nativejdbc.WebLogicNativeJdbcExtractor" lazy-init="true" />
    <bean id="nativeJdbcExtractor" class="org.springframework.jdbc.support.nativejdbc.JBossNativeJdbcExtractor" lazy-init="true" />
    <bean id="nativeJdbcExtractor" class="org.springframework.jdbc.support.nativejdbc.XAPoolNativeJdbcExtractor" lazy-init="true" />
    -->

</beans>
