#page {padding:420px 0 20px; width:100%;}
#menu {position:absolute; left:0; width:100%; display:none;}
/*dock styling...*/
/*...centre the dock...*/
.menus div.jqDockWrap {margin:0 auto;}
/*...space out the images slightly...*/
.menus img {padding:0 2px;}
/*...set background colours...*/
.menus a {background-color:#fff;}
.menus a:hover {background-color:#66ff66;}
/*...set the cursor...*/
.menus div.jqDock {cursor:pointer;}