body {
  font-family:"Lucida Grande", arial, sans-serif;  
  background:#F3F3F3;  
}

p {
  padding:0px 5px;
}

ul#menu, ul#menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

ul#menu>li {
  margin: 0px;
}

ul#menu>li>a {
  display:none;
}

ul#menu>li>ul>li {
    width:100px;  
    height:40px; 
    padding-top:15px; 
    float:left;  
    color:#191919;  
    text-align:center;  
    overflow:hidden;
}

ul#menu>li>ul>li>a {
    color:#FFF;  
    text-decoration:none; 
}

/*Menu Color Classes*/  
ul#menu>li>ul>li:nth-child(5n+1){background:#6AA63B url('menu/green-item-bg.jpg') top left no-repeat;}
ul#menu>li>ul>li:nth-child(5n+2){background:#FBC700 url('menu/yellow-item-bg.jpg') top left no-repeat;}
ul#menu>li>ul>li:nth-child(5n+3){background:#D52100 url('menu/red-item-bg.jpg') top left no-repeat;}
ul#menu>li>ul>li:nth-child(5n+4){background:#5122B4 url('menu/purple-item-bg.jpg') top left no-repeat;}
ul#menu>li>ul>li:nth-child(5n+5){background:#0292C0 url('menu/blue-item-bg.jpg') top left no-repeat;}
