ul#menu, ul#menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

ul#menu>li {
  margin: 0px;
}

ul#menu>li>a {
  display:none;
}

ul#menu {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 10px;
    left: 0px;
    list-style: none;
    z-index:9999;
}
ul#menu>li>ul>li {
    width: 100px;
}
ul#menu>li>ul>li>a {
	text-indent:-9999px; 
    display: block;
    margin-left: -2px;
    width: 100px;
    height: 70px;    
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    /*-moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
    */
    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

ul#menu>li>ul>li:nth-child(7n+1) a{
    background-image: url(navigation/home.png);
}
ul#menu>li>ul>li:nth-child(7n+2) a{
    background-image: url(navigation/id_card.png);
}
ul#menu>li>ul>li:nth-child(7n+3) a{
    background-image: url(navigation/search.png);
}
ul#menu>li>ul>li:nth-child(7n+4) a{
    background-image: url(navigation/ipod.png);
}
ul#menu>li>ul>li:nth-child(7n+5) a{
    background-image: url(navigation/rss.png);
}
ul#menu>li>ul>li:nth-child(7n+6) a{
    background-image: url(navigation/camera.png);
}
ul#menu>li>ul>li:nth-child(7n+7) a{
    background-image: url(navigation/mail.png);
}