<html>
<head>
<title>SingleTemplate</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--<link rel='stylesheet' type='text/css' href='./single/colonnade.css' /><!-- -->
<!--<link rel='stylesheet' type='text/css' href='./single/menu.css' /><!-- -->
<!--<link rel='stylesheet' type='text/css' href='./single/navigation.css' /><!-- -->
<!--<link rel='stylesheet' type='text/css' href='./single/mac.css' /><!-- -->
<script type='text/javascript' src='../../../../js/au/jquery/jquery.js'></script>
<script type='text/javascript' src='../../../../js/au/jquery/json/jquery.json2xml.js'></script>
<script type='text/javascript' src='../../../../js/au/jquery/xslt/jquery.xslt.js'></script>
<script type='text/javascript' src='../../../../js/au/jquery/effect/jquery.easing.js'></script>
<script type="text/javascript">
//通过工具，将任何格式转换为title，name，url和id数据的集合。
var json='{"title":"Sports News","data": [{"name": "High Jump", "url": "http://www.hj.cn", "id": "5"},{"name": "Shooting", "url": "http://www.shooting.cn", "id": "0"},{"name": "Swimming", "url": "http://www.google.cn", "id": "1"},{"name": "Boxing", "url": "http://www.king.cn", "id": "2"},{"name": "Marathon", "url": "http://www.queen.cn", "id": "3"}] }';
var xslt='<?xml version="1.0"?><xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform" version="1.0">';
      xslt+='<xsl:output method="html" omit-xml-declaration="yes"/><xsl:template match="root">';
      xslt+='<ul id="menu"><li><a href="#"><xsl:value-of select="@title" /></a></li><li><ul><xsl:for-each select="data">';
      xslt+='<li><a><xsl:attribute name="href"><xsl:text>javascript:forward(\'</xsl:text><xsl:value-of select="@url" />';
      xslt+='<xsl:text>\')</xsl:text></xsl:attribute><xsl:value-of select="@name"/></a></li></xsl:for-each>';
      xslt+='</ul></li></ul></xsl:template></xsl:stylesheet>';

jQuery(document).ready(function(){
    var jsonToHtml = function(data){
        var options = { formatOutput: true };        
        var xml = jQuery.json2xml(data, options);
        jQuery('#debug').xslt(xml, xslt);
    };
    jsonToHtml(jQuery.parseJSON(json));
});
</script>
</head>
<body>
<div id="debug"></div>
</body>
<!--<script type='text/javascript' src='./single/menu.js'></script><!-- -->
<!--<script type='text/javascript' src='./single/navigation.js'></script><!-- -->
<!--<script type='text/javascript' src='./single/mac.js'></script><!-- -->
</html>