#topMost, #bottomMost {
        position: absolute;
        width: 6px;
        height: 6px;
        background: #FFF;
        border: 1px solid #000;
        z-index: 1000;
}
#topMost { top: 104px; left: 162px; cursor: move; }
#bottomMost { top: 104px; left: 245px; cursor: move; }

#command {
	position:absolute;
    top: 50px; 
    left: 70%;
}
#echo {
    position:absolute;
    top: 90%; 
    left: 80px;
    font:normal bold 13pt Verdana;
}
#echopara {
    position:relative;
    top:20px;
    left: 80px;
    font:normal bold 13pt Verdana;
}