body {
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: 宋体,Arial;
    background-color: #EFEEED;

    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;

    /*滚动样式*/
    SCROLLBAR-FACE-COLOR: #e5eef5;
    SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
    SCROLLBAR-SHADOW-COLOR: #b6d5ea;
    SCROLLBAR-3DLIGHT-COLOR: #b6d5ea;
    SCROLLBAR-ARROW-COLOR: #2b7fc1;
    SCROLLBAR-TRACK-COLOR: #ffffff;
    SCROLLBAR-DARKSHADOW-COLOR: #eeeeee;
    overflow:auto;
}

.deeptree
{
    width: 100%: height:100%;
    padding: 10px;
}

.TreeNode
{
    font-family: Verdana;
    font-size: 12px;
}
.TreeNode img
{
	cursor: pointer;
}

.TreeNode span
{
	display:inline-block;
	color: #000000;
    margin-left: 0px;
    border: 0px solid #FFFFFF;
    padding: 3 3;
    cursor: default;
}
.container
{
    padding-left: 14px;
}
span a
{
    color: black;
    text-decoration: none;
}
span a.abandon
{
    color: #336699;
    text-decoration: none;
}
span a.hidden
{
    color: #ACACAC;
    text-decoration: none;

}
span.MouseOver
{
    border: 0px solid #999999;
    cursor:pointer;
}

span.dragOver
{
    background-color: #BB7977;
    color: #000000;
    border: 0px solid #999999;
    text-decoration: underline;
    cursor:pointer;
}
/*tree hilglight tony add*/
span.HighLight
{
    background-color: #c1dbef;
    color: #000000;
    border: 0px solid #999999;
}
span.load
{
    color: #aaaaaa;
}

a:link {
    color: #000000;
}
a:visited {
    color: #000000;
}
a:Hover {
    text-decoration: underline;
    position: relative;
    color:#000099;
}