FONT {
	FONT-FAMILY: "Verdana";
	font-size: 8pt;

}
A:link {
	FONT-SIZE: 8pt;
	COLOR: black;
	TEXT-DECORATION: none;
	font-family: "Verdana";

}
A:visit {
	FONT-SIZE: 8pt;
	COLOR: black;
	TEXT-DECORATION: none;	
	font-family: "Verdana";

}
A:hover {
	font-size: 8pt;
	font-family: "Verdana";
	color: #cc0000;
	text-decoration: none;
}
A:active {
	font-size: 8pt;
	font-weight: bold;
	font-family: "Verdana";
	color: #FFFFFF;
	text-decoration: underline;
	background-color: #999900;
	border: 1px solid #666666;
}